<% include ../partials/_header %>



<div class="content-area prodcuts">

    <div class="row">
        <div class="container">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="sidebar-products-main">

                    <div class="sidebar-single">
                        <div class="sidebar-title">
                            <a data-toggle="collapse"  class="pointer" aria-expanded="true" data-target="#brandCollapse" aria-controls="#brandCollapse">
                                <span class="pull-left title-sidebar">Filtrar por categoría</span>

                                <span class="pull-right"><i class="fa fa-plus"></i></span>
                                <span class="pull-right"><i class="fa fa-minus"></i></span>
                                <div class="clearfix"></div>
                            </a>
                        </div> <!--End Sidebar title div-->

                        <div id="brandCollapse" class="collapse in">
                            

                            <a href="/produnoindex/:1"  >todos</a>

                            <form action="/filtroprod" method="POST" accept-charset="utf-8">

                                <input type="checkbox" id="c1" value="lapicera"   name="filtroprod" />
                                <label for="c1"><span></span>Lapiceras</label><br />

                                <input type="checkbox" id="c2" value="birome"   name="filtroprod" />
                                <label for="c2"><span></span>Biromes</label><br />
                             
                                
                                <button class="btn btn-red pull-right btn-sm">
                                    Buscar
                                  </button>


                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div> <!--End Single Sidebar-->

                    <div class="sidebar-single">
                        <div class="sidebar-title">
                            <a data-toggle="collapse" class="pointer" aria-expanded="true" data-target="#brandPriceCollapse" aria-controls="#brandPriceCollapse">
                                <span class="pull-left title-sidebar">Filtrar por precio</span>

                                <span class="pull-right"><i class="fa fa-plus"></i></span>
                                <span class="pull-right"><i class="fa fa-minus"></i></span>
                                <div class="clearfix"></div>
                            </a>
                        </div> <!--End Sidebar title div-->

                        <div id="brandPriceCollapse" class="collapse in">
                                <a href="/produnoindex/:1"  >todos</a>


                            <form action="/filtroprecio" method="POST" accept-charset="utf-8">

                                <input type="checkbox" id="price1" value="0.100"  name="filtroprice"/>
                                <label for="price1"><span></span>$ 0-100</label><br />

                                <input type="checkbox" id="price2" value="100.500"  name="filtroprice" />
                                <label for="price2"><span></span>$b100-500</label><br />

                                <input type="checkbox" id="price3" value="500.1000"  name="filtroprice" />
                                <label for="price3"><span></span>$ 500-1000</label><br />

                             

                                <button class="btn btn-red pull-right btn-sm">
                                        Buscar
                                </button>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div> <!--End Single Sidebar-->

                    <div class="sidebar-single">
                        <div class="sidebar-title">
                            <a data-toggle="collapse" class="pointer" aria-expanded="true" data-target="#productColorCollapse" aria-controls="#productColorCollapse">
                                <span class="pull-left title-sidebar">Filtrar por color</span>

                                <span class="pull-right"><i class="fa fa-plus"></i></span>
                                <span class="pull-right"><i class="fa fa-minus"></i></span>
                                <div class="clearfix"></div>
                            </a>
                        </div> <!--End Sidebar title div-->

                        <div id="productColorCollapse" class="collapse in">
                                <a href="/produnoindex/:1"  >todos</a>

                            <form action="/filtrocolor" method="POST" accept-charset="utf-8">

                                <input type="checkbox" id="color0" value="blanco"  name="filtrocolor" />
                                <label for="color0" style="color:color:#000000"><span></span>Negro</label><br />

                                
                                <input type="checkbox" id="color2" value="azul"  name="filtrocolor" />
                                <label for="color2" style="color:#00f"><span></span>Azul</label><br />

                                <input type="checkbox" id="color1" value="rojo"  name="filtrocolor"  />
                                <label for="color1" style="color:#f00"><span></span>Rojo</label><br />


                                <input type="checkbox" id="color3" value="verde"  name="filtrocolor"  />
                                <label for="color3" style="color:#008000"><span></span>Verde</label><br />



                            

                                <button class="btn btn-red pull-right btn-sm">
                                        Buscar
                                </button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div> <!--End Single Sidebar-->

                    <div class="sidebar-single">
                            <div class="sidebar-title">
                            </div> <!--End Sidebar title div-->
                            <div id="productReviewCollapse" class="collapse in">
                                <form action="products_submit.php" method="get" accept-charset="utf-8">
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                    </div> <!--End Single Sidebar-->
                        

                 
                        
                    


                </div>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <ol class="breadcrumb breadcrumb1">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Productos</li>
                </ol>
                <div class="product-top">
                    <h4>Todos los productos</h4>
                    <ul> 
                        
                    </ul> 
                    <div class="clearfix"> </div>
                </div>
                <div class="all-products">
                    <div class="">
                        <h2 class="title-div wow slideInRight" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="10">Nuestro últimos productos disponibles</h2>
                        <div class="products">
                            <div class="row">

                            <% produno.forEach(function (produn) { %>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div class="product-borde-inner">
                                            <a href="/produnoredirect/<%= produn.id %>">
                                                <img src="<%= produn.image %>" class="img img-responsive"/>
                                            </a> 

                                            <div class="product-price">
                                                <a href="product_single.html"><%= produn.title %></a><br />
                                                <span class="prev-price">
                                                    <del>$<%= produn.oldprice %></del>
                                                </span>
                                                <span class="current-price">
                                                    $<%= produn.price %>
                                                </span>
                                            </div>

                                            <a href="/addtocardproduno/<%= produn.id %>"  class="btn btn-cart text-center add-to-cart pull-right">
                                                <i class="fa fa-cart-plus"></i>
                                                Al carro
                                            </a>
                                            <div class="clear"></div>
                                        </div>
                                    </div> 
								</div><!-- End Latest products[single] -->  
                                <% }) %>    
                                
                                
                                
                  

                                <div class="clear"></div>



                            </div> <!-- End Latest products row-->


                       
                            
                            <div class="clear"></div>



                        </div> <!-- End products div-->



                        
            <div class="col-md-12">
                    <div class="row">
                          <!-- pagination -->
                          <% if(pages > 0) { %> <!-- show pagination if there is pages -->
                            <nav  class="mx-auto" style="margin-bottom: 50px">
                              <ul class="pagination">
                                <!-- FIRST ITEM -->
                                <% if(current == 1) { %>
                                  <li class="page-item disabled">
                                    <a class="page-link" href="#">First</a>
                                  </li>
                                <% } else { %>
                                  <li class="page-item">
                                    <a class="page-link" href="/produnoindex/1">First</a>
                                  </li>
                                <% } %>
                                <!-- ITEMS  -->
                                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                <% if(i !== 1) { %>
                                  <li class="page-item disabled">
                                    <a class="page-link" href="#">...</a>
                                  </li>
                                <% } %>
                                <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                  <% if(i == current) { %>
                                    <li class="page-item active">
                                      <a class="page-link" href="<%= i %>">
                                        <%= i %>
                                      </a>
                                    </li>
                                  <% } else { %>
                                    <li class="page-item">
                                      <a class="page-link" href="/produnoindex/<%= i %>">
                                        <%= i %>
                                      </a>
                                    </li>
                                  <% } %>
                                  <% if (i == Number(current) + 4 && i < pages) { %>
                                     <li class="page-item disabled">
                                       <a class="page-link" href="#">...</a>
                                     </li>
                                  <% } %>
                                <% } %>
                                <!-- LAST ITEM -->
                                <% if(current == pages) { %>
                                  <li class="page-item disabled">
                                    <a class="page-link" href="#">
                                      Last
                                    </a>
                                  </li>
                                <% } else { %>
                                  <li class="page-item">
                                    <a class="page-link" href="/produnoindex/<%= pages %>">
                                      Last
                                    </a>
                                  </li>
                                <% } %>
                              </ul>
                            </nav>
                          <% } %>
                        </div>
                      </div>
                    </main>
                    <!-- Main Content -->
                  </div>



                    </div> <!-- End container latest products-->



                </div>  <!-- End Latest products -->


                
            </div>








        </div>


        

    </div>


    

    




  <% include ../partials/_footer %>